.container__search__movies__title {
  display: flex;
  gap: 20px;
}

.container__msg {
  display: flex;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .container__msg {
    justify-content: center;
    margin-left: 0px;
  }
}
