.container__search__movies__title {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.container__msg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 490px;
  height: 200px;
}

@media (max-width: 500px) {
  .container__msg {
    justify-content: center;
    margin-left: 0px;
  }
}

.container__movies__search {
  margin-top: 40px;
}
